@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


:root {
    --main-color: #F58D4E;
    --secu-color: #F46F1D;
    --menu-color: #004B5B;
}
* {
    border: none;
    padding: 0px;
    box-sizing: border-box;
}
footer {
    display: flex;
    width: fill;
    margin: 10px -8px -8px -8px;
    height: 300px;
    background-color: var(--menu-color);
}
footer div {
    width: 30%;
}
footer img {
    margin-top: 180px;
    margin-left: 50px;
    width: 199px;
    height: 41px;
}
footer h3 {
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    margin: 50px 0px 30px 50px;
}
footer div.separador {
    width: 100px;
    height: 5px;
    margin: 0px 0px 50px 45px;
    background-color: var(--secu-color);
}
footer h3.phone {
    color: var(--secu-color);
    font-weight: bolder;
}

.end-site {
    clear: none;
    width: fill;
    height: 10px;
    background-color: var(--secu-color);
    margin: -8px -8px;
}

.background-main-top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: fill;
    height: 1000px;
    background: url("../_img/fundo-topo-2.png") no-repeat scroll -350px -70px;
    z-index: -1;
}


/* ESTILO DO CABEÇALHO E MENU */
.cabecalho {
    display: flex;
    background-color: transparent;
    margin: -8px;
    height: 90px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: var(--main-color);
}
.logo-site {
    margin-left: 56px;
    margin-right: 200px;
    padding-top: 18pt;
}

.main-menu {
    display: flex;
    align-items: center;
    width: 700px;
}
.main-menu a {
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 35px;
    margin-top: 20px;
    font-family: 'Barlow Condensed';
    font-size: 18px;
    padding: 5px;
}
.main-menu a:hover {
    border-style: solid;
    margin-top: 23px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 2px;
    border-color: var(--main-color);
}
.main-menu a.home {
    border-style: solid;
    margin-top: 23px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 2px;
    border-color: var(--main-color);
}

.social-media {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}
.social-media div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: var(--main-color);
    cursor: pointer;
}
.social-media div.instagram-media {
    background: url("../_img/instagram.png") no-repeat scroll 6px 6px;
    background-size: 18px;
    background-color: var(--main-color);
}
.social-media div.instagram-media:hover {
    background-color: var(--secu-color);
}
.social-media div.facebook-media {
    background: url("../_img/facebook.png") no-repeat scroll 6px 6px;
    background-size: 18px;
    background-color: var(--main-color);
}
.social-media div.facebook-media:hover {
    background-color: var(--secu-color);
}

/* ESTILO DO TITULO DO TOPO */
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 108px;
}
.main-text span {
    letter-spacing: -2pt;
    font-family: 'Barlow Condensed';
    font-size: 90px;
    font-weight: 100;
    margin-bottom: 0px;
    color: var(--secu-color);
}
.main-text h1 {
    letter-spacing: -2pt;
    font-family: 'Barlow Condensed';
    font-size: 90px;
    font-weight: 100;
    margin: -15px;
    color: white;
}
.main-text h3 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    margin-top: 18px;
    color: white;
    line-height: 25px;
}
.main-text button {
    width: 165px;
    height: 30px;
    color: var(--secu-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--secu-color);
    border-width: 2px;
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.main-text button:hover {
    background-color: var(--secu-color);
    color: white;
    transition: background 500ms, color 500ms;
}

/* ESTILO PARA OS CARDS NO MEIO DA PÁGINA */
.cards {
    display: flex;
    justify-content: center;
    width: fill;
    height: 600px;
    margin-top: 100px;
}

.cards div.card-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: fill;
    background-color: var(--secu-color);
}
.cards div.card-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: fill;
    margin-left: 30px;
    background-color: var(--secu-color);
}
.cards div.card-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: fill;
    margin-left: 30px;
    background-color: var(--secu-color);
}

.cards img {
    width: 30%;
    height: 20%;
    margin-top: 20px;
}
.cards h2 {
    width: fill;
    text-align: left;
    font-family: 'Barlow Condensed';
    font-size: 26px;
    font-weight: 800;
    margin: 25px;
    color: var(--menu-color);
    text-transform: uppercase;
}
.cards h3 {
    width: fill;
    text-align: left;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 100;
    margin: 5px 25px;
    color: white;
}
.cards button {
    width: 165px;
    height: 30px;
    color: var(--menu-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--menu-color);
    border-width: 2px;
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 35px;
    cursor: pointer;
}
.cards button:hover {
    background-color: var(--menu-color);
    color: white;
    transition: background 500ms, color 500ms;
}

/* ESTILO DO MEIO DA PÁGINA */
.middle-page {
    display: flex;
    width: fill;
    height: 500px;
    margin: 0px -8px;
}
.middle-page div.esq-bar {
    width: 65vw;
    margin: 100px 0px 0px 70px;
}
.middle-page div.esq-bar h1 {
    font-family: 'Barlow Condensed';
    font-size: 40px;
    font-weight: 800pt;
    margin-bottom: 15px;
    color: var(--menu-color);
}
.middle-page div.esq-bar div {
    width: 150px;
    height: 8px;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: var(--secu-color);
}
.middle-page div.esq-bar p {
    font-family: 'Roboto';
    font-size: 20px;
    margin-right: 100px;
    font-weight: 800;
    color: var(--secu-color);
}
.middle-page div.esq-bar button {
    width: 165px;
    height: 30px;
    color: var(--menu-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--menu-color);
    border-width: 2px;
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 35px;
    cursor: pointer;
}
.middle-page div.esq-bar button:hover {
    background-color: var(--menu-color);
    color: white;
    transition: background 500ms, color 500ms;
}

.dir-bar {
    width: fill;
    margin: 85px 50px 0px 0px;
}
.dir-bar div.side-order {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secu-color);
}
.dir-bar img {
    width: 112px;
    height: 112px;
    margin: 20px;
}
.dir-bar div.order-box {
    display: flex;
    flex-direction: column;
}
.dir-bar h2 {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 800;
    color: var(--secu-color);
}
.dir-bar span {
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 800;
    color: var(--menu-color);
    margin-right: 40px;
}

/* ESTILO DO BAIXO DA PÁGINA */
.bottom-page {
    width: fill;
    height: 1100px;
    margin-left: 50px;
}
.bottom-page h1.bottom-title {
    font-family: 'Barlow Condensed';
    font-size: 40px;
    font-weight: 800pt;
    margin-bottom: 15px;
    color: var(--menu-color);
}
.bottom-page div.separador {
    width: 150px;
    height: 8px;
    margin: 10px 0px 50px 20px;
    background-color: var(--secu-color);
}
.bottom-page p {
    font-family: 'Roboto';
    font-size: 20px;
    margin: 10px 55% 50px 20px;
    font-weight: 800;
    color: var(--secu-color);
}
.bottom-page div.galeria-fotos {
    display: grid;
    gap: 38px 38px;
    grid-template-columns: 600px 500px
}
.galeria-fotos img {
    width: 600px;
    height: 300px;
}

.bottom-page div.hover-1 {
    opacity: 0;
    position: absolute;
    margin: 0px;
    width: 600px;
    height: 300px;
    cursor: pointer;
}
.bottom-page div.hover-2 {
    opacity: 0;
    position: absolute;
    margin: 0px 0px 0px 638px;
    width: 600px;
    height: 300px;
    cursor: pointer;
}
.bottom-page div.hover-3 {
    opacity: 0;
    position: absolute;
    margin: 338px 0px 0px 0px;
    width: 600px;
    height: 300px;
    cursor: pointer;
}
.bottom-page div.hover-4 {
    opacity: 0;
    position: absolute;
    margin: 338px 0px 0px 638px;
    width: 600px;
    height: 300px;
    cursor: pointer;
}

.bottom-page div.background {
    position: absolute;
    margin: 0px;
    width: 600px;
    height: 300px;
    background-color: var(--menu-color);
    opacity: .8;
}
.bottom-page h1 {
    position: relative;
    color: var(--secu-color);
    font-family: 'Barlow Condensed';
    font-weight: 100;
    margin: 200px 0px 0px 20px;
    z-index: 1;
}
.bottom-page h2 {
    position: relative;
    color: white;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 5px;
    margin-left: 20px;
}

.bottom-page div.hover-1:hover {
    opacity: 1;
    transition: opacity 500ms;
}
.bottom-page div.hover-2:hover {
    opacity: 1;
    transition: opacity 500ms;
}
.bottom-page div.hover-3:hover {
    opacity: 1;
    transition: opacity 500ms;
}
.bottom-page div.hover-4:hover {
    opacity: 1;
    transition: opacity 500ms;
}

.bottom-page div.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.bottom-page button {
    width: 165px;
    height: 30px;
    color: var(--menu-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--menu-color);
    border-width: 2px;
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 35px;
    cursor: pointer;
}
.bottom-page button:hover {
    background-color: var(--menu-color);
    color: white;
    transition: background 500ms, color 500ms;
}

.page-novidades {
    width: fill;
    height: fill;
    margin: auto -8px;
    background: linear-gradient(var(--secu-color), var(--main-color), #db6821);
    padding-bottom: 60px;
}
.page-novidades h1.title {
    font-family: 'Barlow Condensed';
    color: var(--menu-color);
    font-size: 50px;
    font-weight: bolder;
    margin-left: 50px;
    padding-top: 100px;
    margin-bottom: 20px;
}
.page-novidades div.separador {
    width: 190px;
    height: 8px;
    margin: 0px 0px 50px 50px;
    background-color: var(--menu-color);
}
.page-novidades div.novidades-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-novidades div.news {
    width: 30%;
    height: 500px;
    margin: 0px 10px;
    overflow: hidden;
}
.page-novidades img {
    width: 387px;
    height: 250px;
    transition: all 5s;
}
.page-novidades img:hover {
    transform: scale(1.1);
}
.page-novidades h1 {
    font-family: 'Barlow Condensed';
    font-size: 35px;
    color: white;
    height: 100px;
}
.page-novidades h2 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bolder;
    color: var(--menu-color);
}
.page-novidades button {
    width: 165px;
    height: 30px;
    color: var(--menu-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--menu-color);
    border-width: 2px;
    font-family: 'Barlow Condensed';
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.page-novidades button:hover {
    background-color: var(--menu-color);
    color: white;
    transition: background 500ms, color 500ms;
}